<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <%=link_to "Alpha-blog", root_path,class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="nav-item ">
          <%=link_to "Articles", articles_path,class:"nav-link active" %>
         
        </li>
        <li class="nav-item">
          <%=link_to "Blogger", customers_path,class:"nav-link active" %>
         
        </li>
        <li class="nav-item ">
           <%=link_to "NewArticle", new_article_path,class:"nav-link active"%>
         
        </li>
        <!-- <li class="nav-item">
           <%=link_to " About", about_path,class:"nav-link active"%>
        </li> --> 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role='button' data-bs-toggle="dropdown" aria-expanded="false">
          Article Page
            </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%if logged_in %>
           <li><%= link_to "New Article",new_article_path,class:"dropdown-item"%></li>
         <li> <%= link_to "Show Article",articles_path,class:"dropdown-item"%></li>
         <%else%>
         <li> <%= link_to "Show Article",articles_path,class:"dropdown-item"%></li>
          <%end%>
          </ul>
        </li>
          <%if logged_in && current_user.admin%>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role='button' data-bs-toggle="dropdown" aria-expanded="false">
          Article Category
            </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
             <li><%= link_to "New Category",new_category_path,class:"dropdown-item"%></li>
             <li> <%= link_to "Show Category",categories_path(@category),class:"dropdown-item"%></li>
           

          
          </ul>
        </li>
         <%end%>
        <%if logged_in %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role='button' data-bs-toggle="dropdown" aria-expanded="false">
          User Profile
            </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%if logged_in && current_user.admin%>
         <li><%= link_to current_user.username,customer_path(current_user),class:"dropdown-item"%></li>
         <li> <%= link_to "Edit User",edit_customer_path(current_user),class:"dropdown-item"%></li>
        <!--   <li><%= button_to "Delete User",customer_path(current_user),class:"dropdown-item",method: :delete%></li> -->
          <%else%>
          <li><%= link_to current_user.username,customer_path(current_user),class:"dropdown-item"%></li>
          <%end%>
          
          </ul>
        </li>

        <li class="nav-item">
           <%=link_to " Logout", logout_path,class:"nav-link active",method: :delete %>
         
        </li>
        <%else%>
        <li class="nav-item">
           <%=link_to " Login", login_path,class:"nav-link active"%>    
        </li>
        <li class="nav-item"> 
          <%= link_to "Signup",signup_path,class:"nav-link active"%>
            
          </li>



        <%end%>
      </ul>
      <%= form_tag search_path, method: :get do |form| %>
    <div class="row">
      <div class="col-9">
        <%= text_field_tag :result, params[:result], placeholder:"Enter keyword", class:"form-control me-3" %>
      </div>
      <div class="col-3">
        <%= button_tag type: :submit, class:"btn btn-warning" do  %>
          <%= 'Search'%>
        <%end%>
      </div>
    </div>
  <% end %>
    </div>
  </div>
</nav>
