<!-- <div class="container">

<%=form_with model: @user, class:"shadow-lg p-3 mb-5 bg-white rounded" do |form| %>
<div class="mb-3">

	<%= form.label :Username,class:"form-label" %><br> 
	<%= form.text_field :username,class:"form-control change" %>

</div>
<p>
	<%= form.label :Email,class:"form-label" %><br> 
	<%= form.email_field :email,class:"form-control change" %>
</p>
<p>
	<%= form.label :Password,class:"form-label" %><br> 
	<%= form.password_field :password,class:"form-control change" %>
</p>
<p>
	<%= form.submit %>
</p>
<%end %>
</div>

 -->
<%=form_with model: @user do |form| %>

<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body" style="background-color:#fff; border-radius: 0.5rem;">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form>
				<div class="form-row">
					<div class="col form-group">
						<label>Username</label>
					  	<%= form.text_field :username,class:"form-control change" %>
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					<label class="mt-4">Email</label>
					<%= form.email_field :email,class:"form-control change " %>
					<small class="form-text text-muted ">We'll never share your email with anyone else.</small>
				</div> <!-- form-group end.// -->
				
				 
				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="mt-4">Create password</label>
					    <%= form.password_field :password,class:"form-control change mb-4" %>
					</div> <!-- form-group end.// --> 
		
				</div>
			    <div class="form-group">
			       <%= form.submit %>
			    </div> <!-- form-group// -->      
			        
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account?  <%=link_to " Login", login_path%></p>
    <br><br>
    <%end %>